@import "../mixins/_mixins";

$jumbo:            72px;
$title:            60px;
$heading_1:        45px;
$heading_2:        30px;
$heading_3:        24px;
$heading_4:        18px;
$paragraph:        16px;
$paragraph_small:  14px;
$paragraph_xsmall: 12px;
