@import "https://pro.fontawesome.com/releases/v5.1.0/css/all.css";

@font-face {
  font-family: Lumina;
  src: url("/fonts/SfOuterLimitsExtupright-Bjdl.ttf") format("truetype");
  font-weight: 400;
}
